body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #666;
}

nav ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 12px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover {
    color: rgb(15,120,150);
}

h1 {
    font-size: 32px;
    color: darkorange;    
}

img {
    border: 3px solid rgb(15,194,218);
    height: 300px;
}

footer {
    padding:  20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}